<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="example-toolbar">
      <!-- <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button> -->
      <h1 class="example-app-name"><span><img src="assets/agri_21.jpg" height="30"></span> Rajkot APMC  ToDay Price List</h1>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <!-- <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
          <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
        </mat-nav-list>
      </mat-sidenav> -->

      <mat-sidenav-content>
        <iframe width='300' height='250' frameborder='0' scrolling='no' src='https://widget.cuelinks.com/widgets/35396?pub_id=51008CL46007'></iframe>
        <div *ngFor="let crop of toDayCropList">
          <mat-action-list>
            <mat-card>
              <mat-card-title>{{crop.name}}</mat-card-title>
              <mat-card-content>ભાવ : {{crop.min}} - {{crop.max}} </mat-card-content>
            </mat-card>
          </mat-action-list>
        </div>
        <mat-action-list *ngIf="isVisible">
          <mat-card>
            <mat-card-title>
              Every Day Price Update at 11:00 AM Excluding Sunday and Public Holidays.
            </mat-card-title>
          </mat-card>
        </mat-action-list>
        <iframe width='300' height='250' frameborder='0' scrolling='no' src='https://widget.cuelinks.com/widgets/35396?pub_id=51008CL46007'></iframe>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

